/*CSS for the body and the header*/
body, html{
	margin: 0;
	padding: 0;
	font-family: "Verdana", sans-serif;
}

#head{
	position: fixed;
	top: 0;
	width: 100%;
	border-bottom: 1px solid black;
}
#pageHead{
	text-align: center;
	padding: 1% 0%;
	font-size: 110%;
}

/*CSS for the graphs*/
#graph-overview{
	width: 80%;
	margin-left: 5.7%;
	margin-top: 8%;
}
#graph-body{
	width: 69.5%;
	border-left: 2px black solid;
	border-bottom: 2px black solid;
	padding: 1% 0;
	padding-top: 2%;
	float: right;
}
.graph-percentages{
	text-align: right;
	padding-right: 5%;
	padding-top: 1.5%;
	color: white;
}
#graph-desc{
	width: 30%;
	float: left;
}
.graph-desc-paras{
	width: 88%;
	text-align: right;
	margin-top: 14.5%;
	margin-left: 3%;
	font-size: 110%;
}
#para1{
	margin-top: 18%;
}
.bars{
	width: 100%;
	height: 50px;
	display: block;
	margin-top: 3%;
	margin-bottom: 3%;
	background-color: red;
}
#bar1{
	background-color: #FF5C00;
}
#bar2{
	background-color: #FF8E00;
}
#bar3{
	background-color: blue;
}
#bar4{
	background-color: #00BE00;
}
#bar5{
	background-color: purple;
}

/*CSS for the score paragraph at the bottom*/
#score{
	width: 100%;
	font-size: 110%;
	float: right;
	padding: 4% 0% 3% 0%;
	text-align: center;
}